body {
  color: #4ECCA3;
  font-family: cursive;
  background-color: #393E46;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 2rem;
}

#image-container {
  display: none;
}

img[alt] {
  width: 300px;
  height: 300px;
}

#cont1 , #cont2 {
   width: 300px;
   height: 300px;
}
#cont1 {
  margin-right: 5rem;
}

#head {
  text-align: center;
  margin-bottom: 50px;
  font-size: 4rem;
  color: rgb(143, 82, 82);
}

#refresh {
  font-size: 7rem;
  text-align: center;
  color: #4ECCA3;
}